// Body
$body-bg: white;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color Palette
$BlueColor: #1695A6;
$LightBlueColor: #24B0C1;
$YellowColor: #FDCF48;
$WhiteColor: #F8F8F8;
