div.container_create{
    width: 60%;
    margin:auto;
    margin-top: 5rem;
}

img.logo_deliveboo{
    width: 99px;
    height: 99px;
}

nav.navbar{
    height: 120px;
}

div.container_fluid{
    height: 100%;
}

div.radio{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

button.btn{
    margin-right: 3rem;
    width: 10rem;
}